# Gradle files
.gradle
build/

# Local configuration file (sdk path, etc)
local.properties

captures/
*.iml
fabric.properties

!.idea/
.idea/*
!.idea/copyright
!.idea/codeStyles
!.idea/encodings.xml
!.idea/gradle.xml